.low-usage {
  color: green;
}

.medium-usage {
  color: black;
}

.high-usage {
  color: red;
}

body {
    background-image: url(https://cdn.pixabay.com/photo/2017/12/28/17/41/nature-3045780_1280.jpg);
}

.center {
  text-align: center;
}
